<section id="home" class="home">
	<div>
		<div class="logo">
			<img src="/images/logo.png" width="150" height="150" />
		</div>
		<h2>Hello, I'm Louis</h2>
		<h2>I develop full stack web app</h2>
	</div>
</section>

<section id="project" class="project">
	<h2>Projects</h2>
	<div class="cards">
		<div class="card">
			<div class="imgContainer">
				<img src="/images/projects/ES6-Twitter-Clone.png" loading="lazy" />
			</div>
			<div>
				<span>
					<span>ES6 Twitter Clone</span> |
					<span>JavaScript</span>
				</span>
			</div>
			<p>Twitter clone made by ES6 Javascript, Giphy api, emoji api and Mockaroo.
			</p>
			<div class="card-btns">
				<a href="https://github.com/yhl234/ES6-Twitter-Clone" class="code">Code</a>
				<a href="https://19f-adv-client-side-javascript.yhl234.now.sh/" class="live">Live</a>
			</div>
		</div>
		<div class="card">
			<div class="imgContainer">
				<img src="/images/projects/vue-portfolio.png" loading="lazy" />
			</div>
			<div>
				<span>
					<span>Vue Portfolio</span> |
					<span>Vue.js</span>
				</span>
			</div>
			<p> Nintendo Switch UI inspired Portfolio
			</p>
			<div class="card-btns">
				<a href="https://github.com/yhl234/layout-with-flexbox-and-grid" class="code">Code</a>
				<a href="https://layout-with-flexbox-and-grid.now.sh/" class="live">Live</a>
			</div>
		</div>
		<div class="card">
			<div class="imgContainer">
				<img src="/images/projects/vue-cli-trivia.png" loading="lazy" />
			</div>
			<div>
				<span>
					<span>Vue.js Trivia</span> |
					<span>Vue.Js</span>
				</span>
			</div>
			<p> Vue.js based trivia game using Trivia API, chart.js and chart.js
			</p>
			<div class="card-btns">
				<a href="https://github.com/yhl234/vue-cli-trivia" class="code">Code</a>
				<a href="https://vue-cli-trivia.now.sh/" class=" live">Live</a>
			</div>
		</div>
		<div class="card">
			<div class="imgContainer">
				<img src="/images/projects/layout-with-flexbox-and-grid.png" loading="lazy" />
			</div>
			<div>
				<span>
					<span>Responsive Layout</span> |
					<span>CSS</span>
				</span>
			</div>
			<p> Recreate a Bootstrap template without using Bootstrap
			</p>
			<div class="card-btns">
				<a href="https://github.com/yhl234/layout-with-flexbox-and-grid" class="code">Code</a>
				<a href="https://layout-with-flexbox-and-grid.now.sh/" class="live">Live</a>
			</div>
		</div>
		<div class="card">
			<div class="imgContainer">
				<img src="/images/projects/refactoring-an-Infographic.png" loading="lazy" />
			</div>
			<div>
				<span>
					<span>Responsive Layout</span> |
					<span>CSS</span>
				</span>
			</div>
			<p> Convert a brochure in PDF into a fully responsive Web page or interface using only text and vector-based
				elements.
			</p>
			<div class="card-btns">
				<a href="https://github.com/yhl234/Refactoring-an-Infographic" class="code">Code</a>
				<a href="https://refactoring-an-infographic.now.sh/" class="live">Live</a>
			</div>
		</div>
		<div class="card">
			<div class="imgContainer">
				<img src="/images/projects/lazy-tulip-ui-redesign.png" loading="lazy" />
			</div>
			<div>
				<span>
					<span>Lazy Tulip UI Redesign</span> |
					<span>Teamwork</span>
				</span>
			</div>
			<p>A modern redesign of a local cafe's website using HTML, CSS and JavaScript
			</p>
			<div class="card-btns">
				<a href="#" class="code">Code</a>
				<a href="https://lazy-tulip-ui-redesign.now.sh/" class="live">Live</a>
			</div>
		</div>
	</div>
</section>

<section id="about" class="about">
	<h2>About me </h2>
	<h3>Achievements</h3>
	<ul>
		<li>2020, Graduated from Georgian College Interactive Media Design-Web program</li>
		<li>2019, Dean's List of Fall semester</li>
		<li>
			2019, Web developer co-op in
			<a href="https://www.vacationpal.ca/">VacationPal</a>
		</li>
		<li>2019, Dean's List of winter semester</li>
		<li>2019, Dean's List of Fall semester</li>
		<li>2018, Rookie-of-the-Year in U-Trust Real Estate, Taipei, Taiwan</li>
		<li>2016, Volunteer, Culture to Communication program, Corner Brook, NL</li>
		<li>2016, Exchange student, Memorial University of Newfoundland, Corner Brook, NL</li>
		<li>2016, Bachelor of Education, National Chi Nan University, Puli, Taiwan</li>
	</ul>
	<h3>Pet Projects</h3>
	<ul>
		<li>
			<a href="https://github.com/yhl234/react-interface">Learning React.js</a>
		</li>
		<li>
			<a href="https://github.com/yhl234/play-node-js-crawler">Telegram crawler bot</a>
		</li>
	</ul>
	<h3>Next Step</h3>
	<ul>
		<li>Less Css</li>
		<li>Arduino</li>
	</ul>
</section>
<section id="contact" class="contact">
	<h2>Contact Me</h2>
	<form id="contact-form">
		<input type="hidden" name="contact_number">
		<label>Name</label>
		<input type="text" name="name_value">
		<label>Email</label>
		<input type="email" name="email_value">
		<label>Message</label>
		<textarea name="message_value"></textarea>
		<input type="submit" value="Send">
		<p id="sendResult"></p>
	</form>
</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>