<section id="home" class="home">
	<div>
		<div class="logo">
			<img src="/images/logo.png" width="150" height="150" />
		</div>
		<h2>Hello, I'm Louis</h2>
		<h2>I develop full stack web app</h2>
	</div>
</section>

<section id="project" class="project">
	<h2>Projects</h2>
	<div class="card">
		<div class="imgContainer">
			<img src="https://picsum.photos/300/200?random.jpg" loading="lazy" />
		</div>
		<div>
			<span>
				<a>name</a> |
				<a>category</a>
			</span>
		</div>
		<p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna
			aliqua.",
		</p>
		<div class="card-btns">
			<a href="#" class="code">Code</a>
			<a href="#" class="live">Live</a>
		</div>
	</div>
</section>

<section id="about" class="about">
	<h2>About me </h2>
	<h3>Achievements</h3>
	<ul>
		<li>2020, Graduated from Georgian College Interactive Media Design-Web program</li>
		<li>2019, Dean's List of Fall semester</li>
		<li>
			2019, Web developer co-op in
			<a href="https://www.vacationpal.ca/">VacationPal</a>
		</li>
		<li>2019, Dean's List of winter semester</li>
		<li>2019, Dean's List of Fall semester</li>
		<li>2018, Rookie-of-the-Year in U-Trust Real Estate, Taipei, Taiwan</li>
		<li>2016, Volunteer, Culture to Communication program, Corner Brook, NL</li>
		<li>2016, Exchange student, Memorial University of Newfoundland, Corner Brook, NL</li>
		<li>2016, Bachelor of Education, National Chi Nan University, Puli, Taiwan</li>
	</ul>
	<h3>Pet Projects</h3>
	<ul>
		<li>
			<a href="https://github.com/yhl234/react-interface">Learning React.js</a>
		</li>
		<li>
			<a href="https://github.com/yhl234/play-node-js-crawler">Telegram crawler bot</a>
		</li>
	</ul>
	<h3>Next Step</h3>
	<ul>
		<li>Less Css</li>
		<li>Arduino</li>
	</ul>
</section>
<section id="contact" class="contact">
	<h2>Contact Me</h2>
	<form id="contact-form">
		<input type="hidden" name="contact_number">
		<label>Name</label>
		<input type="text" name="name_value">
		<label>Email</label>
		<input type="email" name="email_value">
		<label>Message</label>
		<textarea name="message_value"></textarea>
		<input type="submit" value="Send">
	</form>
</section>