<!DOCTYPE html>
<html>

<head>
	<script src="https://kit.fontawesome.com/15248a474a.js" crossorigin="anonymous" defer></script>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great&display=swap"
		rel="stylesheet" />
	<title>Louis Lee</title>
	<link rel="canonical" href="https://louislee.best/" />
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<header>
		<nav>

			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#project">Project</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	{{{body}}}
	<footer>
		<nav class="social-links">
			<ul>
				<li>
					<a class="fa-links" href="https://www.linkedin.com/in/louis-lee-a85159129" title="Louis Lee">
						<i class="fab fa-linkedin fa-2x"></i>
					</a>
				</li>
				<li><a class="fa-links" href="https://github.com/yhl234" title="yhl234">
						<i class="fab fa-github-square fa-2x"></i>
					</a></li>
				<li><a class="fa-links" href="mailto:leejepn@gmail.com" title="leejepn@gmail.com">
						<i class="fas fa-envelope-square fa-2x"></i>
					</a></li>
			</ul>
		</nav>
	</footer>
	<small>© Louis Lee 2020</small>


</body>

</html>