<section class="project">
	<div class="card">
		<div class="imgContainer">
			<img src="https://picsum.photos/300/200?random.jpg" loading="lazy" />
		</div>
		<div>
			<span>
				<a>name</a> |
				<a>category</a>
			</span>
		</div>
		<p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna
			aliqua.",
		</p>
		<div class="card-btns">
			<a href="#" class="code">Code</a>
			<a href="#" class="live">Live</a>
		</div>
	</div>
</section>